@using Guia_6__25_2321_2019_.Models
@model notas

@{
    ViewBag.Title = "Notas";
}

<h2>Notas</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Las notas con decimales se separan por coma, ejemplo:(8,9)")<br />
        @Html.Label("Nota 1", new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nota1, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("Nota 2", new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nota2, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("Nota 3", new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nota3, new { @class = "form-control"})
    </div>
    <div class="form-group">
        <input type="submit" value="CALCULAR" class="btn btn-primary" />
    </div>
    <br /><br />
    if (ViewBag.resultado != null)
    {
        <p class="h3 text-success">@ViewBag.resultado</p>

    }
}


